
body{
    background-color: #FFFAFA;
}

.main-login {
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
    height:  700px;
}

.header-login {
    margin-top: 150px;
    max-width: 1250px;
    width: 90% ;
    padding: 20px;
}
.title-login {
    text-align: left;
    margin: 2px;
}

.p-login {
    margin: 0;
    color: grey;
    font-size: 20px;
}

.section-login {
    margin-top: 70px;
}

.form-login {
    width: 90%;
    margin: 0 auto;
}
.input-login{
    width: 95%;
    margin: 10px auto ; 
    padding: 15px;
    border: none;
    box-shadow: 13px 13px 30px -8px rgba(0,0,0,0.63);
    -webkit-box-shadow: 13px 13px 30px -8px rgba(0,0,0,0.63);
        -moz-box-shadow: 13px 13px 30px -8px rgba(0,0,0,0.63);
}

.buton-login {
    width: 40%;
    border-radius: 40px;
    border: none;
    padding: 20px;
    color: white;
    margin-top: 30px;
    background: rgb(2,0,36);
   /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,221,116,1) 0%, rgba(176,232,162,1) 88%); */
}

.button-container-login {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.input-card-login{
    margin-top: 15px;
}
.footer-login {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

.p-login-footer{
    color: #74de42;
}
.container-edad, .container-edad {
    width: 45%;
}

.form-register {
    margin-top: 20px;
}
.form-register-input{
    margin-top: 25px !important;
}
.form-register-input-age{
    width: 45% ;
}
.container-register-inputs{
    display: flex;
    justify-content: space-between;
}
.section-register{
    max-width: 1000px;
    width:  100% ;
    margin: 0 auto;
    padding: 5px;
}

.footer-register {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-number-register {
    display: flex;
    justify-content: space-between;
}

.input-register-edad, .input-register-genero {
    padding:  7px;
    width: 100%;
}

.container-genero {
    width: 50%;
}

.icon-back-button {
    font-size: 28px;
    cursor: pointer;
}
input{
    margin-top:  15px;
}